{% extends "base/base.html" %}
{% load static %}

{% block title %}
Nueva Venta - Panaderia El Maná
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'styles/ventas.css' %}">
<link rel="stylesheet" href="{% static 'styles/detalles.css' %}">

{% endblock style %}
{% block content %}

<div class="container-details ">    
        <div class="boton-volver">
            <a href="{% url 'ventas:listar_ventas' %}">
                <button type="button"><< Volver</button>
            </a>
        </div>
    <div>
        <div class="tittle">
            <h1>Detalle de Venta</h1>
        </div>
    </div>
    <div class="venta-box">
        <div class="info-row">
            <h4 class="info-label">Empleado:</h4>
            <h4 class="info-value">{{ empleado.nombre }} {{ empleado.apellido }} </h4>
            <h4 class="info-label">Cargo: {{ empleado.perfil }} </h4>
        </div>
        <hr>
        <div class="info-row">
            <h4 class="info-label">Comprobante:</h4>
            <h4 class="info-value">{{ comprobante.id }}</h4>
        </div>
        <div class="info-row">
            <h4 class="info-label">Fecha de Venta:</h4>
            <h4 class="info-value">{{ comprobante.fecha_de_venta }}</h4>
        </div>
        <div class="info-row">
            <h4 class="info-label">Tipo de Venta:</h4>
            <h4 class="info-value">{{ comprobante.tipo_de_venta }}</h4>
        </div>
        <div class="info-row">
            <h4 class="info-label">Forma de Pago:</h4>
            <h4 class="info-value">{{ comprobante.forma_de_pago }}</h4>
        </div>
        <div class="info-row">
            <h4 class="info-label">Tipo de Comprobante:</h4>
            <h4 class="info-value">{{ comprobante.tipo_comprobante }}</h4>
        </div>
        <div class="info-row">
            <h4 class="info-label">Observación:</h4>
            <h4 class="info-value">{{ comprobante.observacion }}</h4>
        </div>
        <hr class="hr">
        <div class="info-row">
            <h3 class="info-label">Items:</h3>
        </div>
        {% for item in items %}
        <div class="info-row items">
            <div class="item">
                {{ item.producto.nombre }} <br> {{ item.cantidad }} {{ item.producto.medida }}
            </div>
            <div class="subtotal">
                ${{ item.subtotal }}
            </div>
        </div>
        {% endfor %}

        <div class="info-label">
            <h3 class="info-label">Total: ${{ comprobante.total_comprobante }}</h3>
        </div>
    </div>
</div>



{% endblock content %}