{% extends "base/base.html" %}
{% load static %}

{% block title %}
Proveedores Detalle - Panaderia El Maná
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/detalles.css' %}">
<link rel="stylesheet" href="{% static 'styles/lista_tabla.css' %}">

{% endblock style %}

{% block content %}
<div class="container-details ">
    <section class="section-details">
        <div class="tittle">
            <h1>Detalle de Producto</h1>
        </div>
        <div class="info-box">
            <div class="info-row">
                <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" style="max-width: 200px; max-height: 200px;">
            </div>
            <div class="info-row">
                <h3 class="info-label">Nombre:</h3>
                <h3 class="info-value">{{ producto.nombre }}</h3>
            </div>
            <div class="info-row">
                <h4 class="info-label">Precio:</h4>
                <h4 class="info-value">{{ producto.precio }}</h4>
            </div>
            <div class="info-row">
                <h4 class="info-label">Unidad de Medida:</h4>
                <h4 class="info-value">{{ producto.unidad_medida }}</h4>
            </div>
            <div class="info-row">
                <h3 class="info-label">Descripcion:</h3>
                <h3 class="info-value">{{ producto.descripcion }}</h3>
            </div>
            <div class="info-row">
                <h4 class="info-label">Stock:</h4>
                <h4 class="info-value">{{ producto.stock }}</h4>
            </div>
            <div class="info-row">
                <h4 class="info-label">Categoria:</h4>
                <h4 class="info-value">{{ producto.categoria }}</h4>
            </div>
            <div class="info-row">
                <h4 class="info-label">Tipo:</h4>
                <h4 class="info-value">{{ producto.tipo }}</h4>
            </div>
            <div class="info-row">
                <button onclick="mostrarModalModificar()">Modificar</button>  
                <button onclick="mostrarModalEliminar()">Eliminar</button>                
            </div>
        </div>
    </section>
</div>

<div id="modify-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Registro Proveedor</h2>
        <form method="post" id="register-proveedor-form" action="">
            {% csrf_token %}
            <label for="razonsocial">Razon Social:</label>
            <input type="text" name="razon_social" id="razonsocial" value="{{ proveedor.razon_social }}" required>

            <label for="cuit">CUIT: </label>
            <input type="number" name="cuit" id="cuit" value="{{ proveedor.cuit }}" required>

            <label for="contacto">Contacto:  </label>
            <input type="number" name="contacto" id="contacto" value="{{ proveedor.contacto }}" required>

            <button type="submit">Guardar</button>
        </form>
    </div>
</div>

<div id="delete-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Registro Proveedor</h2>
        <form method="post" id="delete-proveedor-form" action="">
            {% csrf_token %}
            <h2>Estas seguro de eliminar a {{ proveedor.razon_social}} ? </h2>            
            <button type="submit">Aceptar</button>
            <button type="button" class="close">Cancelar</button>
        </form>
    </div>
</div>

<script src="{% static 'scripts/productos.js' %}"></script>
{% endblock content %}