{% extends "base/base.html" %}
{% load static %}

{% block title %}
Proveedores Detalle - Panaderia El Maná
{% endblock title %}

{% block style %}

<link rel="stylesheet" href="{% static 'styles/lista_tabla.css' %}">
<link rel="stylesheet" href="{% static 'styles/detalles.css' %}">

{% endblock style %}

{% block content %}
<pre id="medidas_choices" style="display: none;">{{ medidas_choices|safe }}</pre>
<pre id="categorias_choices" style="display: none;">{{ categorias_choices|safe }}</pre>


<div class="container-details ">
    <div class="div-top">
        <div class="boton-volver">
            <a href="{% url 'productos:listar_productos' %}">
                <button type="button">
                    << Volver</button>
            </a>
        </div>
        <!-- <div class="tittle-container">  -->
        <div class="tittle">
            <h1>Detalle de Producto</h1>
        </div>
        <!-- </div> -->
    </div>
    <section class="section-details">
        <div class="info-box">
            <div class="info-row">
                <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}"
                    style="max-width: 200px; max-height: 200px;">
            </div>
            <div class="info-row">
                <h3 class="info-label">Nombre:</h3>
                <h3 class="info-value">{{ producto.nombre }}</h3>
            </div>
            <div class="info-row">
                <h4 class="info-label">Precio:</h4>
                <h4 class="info-value">{{ producto.precio }}</h4>
            </div>
            <div class="info-row">
                <h4 class="info-label">Unidad de Medida:</h4>
                <h4 class="info-value">{{ producto.unidad_medida }}</h4>
            </div>
            <div class="info-row">
                <h3 class="info-label">Descripcion:</h3>
                <h3 class="info-value">{{ producto.descripcion }}</h3>
            </div>
            <div class="info-row">
                <h4 class="info-label">Stock:</h4>
                <h4 class="info-value">{{ producto.stock }}</h4>
            </div>
            <div class="info-row">
                <h4 class="info-label">Categoria:</h4>
                <h4 class="info-value">{{ producto.categoria }}</h4>
            </div>
            <div class="info-row">
                <h4 class="info-label">Tipo:</h4>
                <h4 class="info-value">{{ producto.tipo }}</h4>
            </div>
            <div class="info-row">
                <div>
                    <button onclick="modalAgregarStock()">Stock</button>
                    <button onclick="modalCambiarPRecio() ">Precio</button>
                </div>
                <div>
                    <button onclick="mostrarModalModificar()">Modificar</button>
                    <button onclick="mostrarModalEliminar()">Eliminar</button>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="modify-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Registro Proveedor</h2>

        <form id="modify-product-form" method="post" action="{% url 'productos:editar_producto' producto.id %}"
            enctype="multipart/form-data">
            {% csrf_token %}
            <label for="imagen">Imagen:</label>
            <input type="file" name="imagen" id="imagen"
                value="{{ form.imagen.value|default_if_none:producto.imagen.url }}" accept="image/*">
            <br>
            <!-- <img id="image-preview" src="#" alt="Vista previa" style="display:none; max-width: 200px; margin-left: 10px;"> -->
            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}"
                style="max-width: 200px; max-height: 200px;">

            <label for="nombre">Nombre: {{ producto.nombre }} </label>
            <input type="text" name="nombre" id="nombre" maxlength="30"
                value="{{ form.nombre.value|default_if_none:producto.nombre }}">

            <label for="precio">Precio: {{ producto.precio }} </label>
            <input type="number" name="precio" id="precio"
                value="{{ form.precio.value|default_if_none:producto.precio }}">

            <label for="unidad_medida">Unidad de Medida: {{ producto.unidad_medida }} </label>
            <select name="unidad_medida" id="unidad_medida"
                value="{{ form.unidad_medida.value|default_if_none:producto.unidad_medida }}">
                <option value="">----</option>
                
            </select>

            <label for="descripcion">Descripcion: {{ producto.descripcion }} </label>
            <textarea name="descripcion"
                id="descripcion">{{ form.nombre.value|default_if_none:producto.descripcion }}</textarea>

            <label for="stock">Stock: {{ producto.stock }} </label>
            <input type="number" name="stock" id="stock" value="{{ form.stock.value|default_if_none:producto.stock }}">

            <label for="categoria">Categoria: {{ producto.categoria }} </label>
            <select name="categoria" id="categoria_select">
                <option value="">----</option>
                
            </select>

            <label for="tipo">Tipo: {{ producto.tipo }} </label>
            <input type="text" name="tipo" id="tipo" maxlength="30"
                value="{{ form.tipo.value|default_if_none:producto.tipo }}">
            <button type="submit">Guardar</button>
        </form>
    </div>
</div>

<div id="delete-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Registro Proveedor</h2>
        <form method="post" id="delete-proveedor-form" action="{% url 'productos:eliminar_producto' producto.id %}">
            {% csrf_token %}
            <h2>Estas seguro de eliminar a {{ producto.nombre}} ? </h2>
            <button type="submit">Aceptar</button>
            <button type="button" class="close">Cancelar</button>
        </form>
    </div>
</div>

<div class="modal" id="stock-modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Agregar Stock a {{ producto.nombre }}</h2>
        <form method="post" action="{% url 'productos:agregar_stock' producto.id %}">
            {% csrf_token %}
            <p>Stock Actual: {{ producto.stock }}</p>
            <label for="stock_adicional">Cantidad a agregar:</label>
            <input type="number" name="stock_adicional" id="stock_adicional" required min="1">
            <button type="submit">Aceptar</button>
        </form>
    </div>
</div>

<div class="modal" id="precio-modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Cambiar precio de venta de {{ producto.nombre }}</h2>
        <form method="post" action="{% url 'productos:cambiar_precio' producto.id %}">
            {% csrf_token %}
            <p>Precio Actual: {{ producto.precio }}</p>
            <label for="precio_nuevo">Nuevo precio:</label>
            <input type="number" name="precio_nuevo" id="precio_nuevo" required min="1">
            <button type="submit">Aceptar</button>
        </form>
    </div>
</div>

<script src="{% static 'scripts/productos.js' %}"></script>
{% endblock content %}