{% extends "base/base.html" %}
{% load static %}

{% block title %}
    Insumos - Panaderia El Maná
{% endblock title %}
{% block style %}
    <link rel="stylesheet" href="{% static 'styles/lista_tabla.css' %}">
{% endblock style %}
    {% block content %}

    <div class="container">
        <div class="title-container">
            <h1>Insumos</h1>
            <button id="register-insumo-btn">Cargar Insumo</button>
        </div>
        <table id="insumo-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Marca</th>
                    <th>Tipo</th>
                    <th>Cantidad</th>
                    <th>Medida</th>
                </tr>
            </thead>
            <tbody>
                <!-- filas -->
            </tbody>
        </table>
    </div>

    <div id="register-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Carga de Insumo</h2>
            <form id="register-insumo-form">
                <label for="name">Nombre:</label>
                <input type="text" id="name" required>

                <label for="marca">Marca:</label>
                <input type="text" id="marca" required>

                <label for="tipo">Tipo:</label>
                <input type="text" id="tipo" required>
                
                <label for="cantidad">Cantidad:</label>
                <input type="text" id="cantidad" required>

                <label for="medida">Medida:</label>
                <input type="text" id="medida" required>

                <label for="punto_pedido">Punto de Pedido:</label>
                <input type="text" id="punto_pedido" required>

                <button type="submit">Guardar</button>
            </form>
        </div>
    </div>

    <div id="modify-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Modificar Insumo</h2>
            <form id="modify-insumo-form">
                <input type="hidden" id="modify-id">
                <label for="modify-name">Nombre:</label>
                <input type="text" id="modify-name" required>

                <label for="modify-marca">Marca:</label>
                <input type="text" id="modify-marca" required>

                <label for="modify-tipo">Tipo:</label>
                <input type="text" id="modify-tipo" required>

                <label for="modify-cantidad">Cantidad:</label>
                <input type="text" id="modify-cantidad" required>

                <label for="modify-medida">Medida:</label>
                <input type="text" id="modify-medida" required>

                <label for="modify-punto_pedido">Punto de Pedido:</label>
                <input type="text" id="modify-punto_pedido" required>

                <div class="form-buttons">
                    <button type="button" id="cancel-modify">Cancelar</button>
                    <button type="submit">Guardar</button>
                </div>
            </form>
        </div>
    </div>


    <script src="/scripts/insumo.js"></script>
    <script src="/scripts/loadScrip.js"></script>

    {% endblock content %}
