{% extends "base/base.html" %}
{% load static %}
{% block title %}
Productos - Panaderia El Maná
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'styles/lista_tabla.css' %}">
{% endblock style %}
{% block content %}
<pre id="medidas_choices" style="display: none;">{{ medidas_choices|safe }}</pre>
<pre id="categorias_choices" style="display: none;">{{ categorias_choices|safe }}</pre>


<div class="container">
    <div class="title-container">
        <h1>Productos</h1>
        <button id="create-btn" onclick="modalCargarProducto()">Cargar Producto</button>
    </div>
    <table id="producto-table">
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% if productos %}
            {% for producto in productos %}
            <tr>
                <td>{{ producto.categoria }} </td>
                <td>{{ producto.nombre }} </td>
                <td>{{ producto.precio }} </td>
                <td>{{ producto.stock }} </td>
                <td>
                    <a href="{% url 'productos:detalle_producto' producto.id %}">
                        <button type="button">Ver</button>
                    </a>


                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="4">No hay productos disponibles</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>



<div id="product-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Carga de Insumo</h2>
        <form id="register-product-form" method="post" action="{% url 'productos:registrar_producto' %}"
            enctype="multipart/form-data">
            {% csrf_token %}
            <label for="imagen">Imagen:</label>
            <input type="file" name="imagen" id="imagen" required accept="image/*">
            <br>
            <img id="image-preview" src="#" alt="Vista previa"
                style="display:none; max-width: 200px; margin-left: 10px;">

            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" maxlength="30" required>

            <label for="precio">Precio:</label>
            <input type="number" name="precio" id="precio" required>

            <label for="unidad_medida">Unidad de Medida:</label>
            <select name="unidad_medida" id="unidad_medida" required>
                <option value="">----</option>                
            </select>
            

            <label for="descripcion">Descripcion:</label>
            <textarea name="descripcion" id="descripcion"></textarea>

            <label for="stock">Stock:</label>
            <input type="number" name="stock" id="stock" required>

            <label for="categoria_select">Categoria:</label>
            <select name="categoria_select" id="categoria_select" required>
                <option value="">----</option>
            </select>
           

            <label for="tipo">Tipo:</label>
            <input type="text" name="tipo" id="tipo" maxlength="30" required>

            <button type="submit">Guardar</button>
        </form>
    </div>
</div>




<script src="{% static 'scripts/productos.js' %}"></script>

{% endblock content %}