{% extends "base/base.html" %}
{% load static %}

{% block title %}
    Insumos - Panaderia El Maná
{% endblock title %}
{% block style %}
    <link rel="stylesheet" href="{% static 'styles/lista_tabla.css' %}">
{% endblock style %}
    {% block content %}
    <pre id="choices" style="display: none;">{{ unidades_choices|safe }}</pre>


    <div class="container">
        <div class="title-container">
            <h1>Insumos</h1>
            <button id="register-insumo-btn" onclick="modalCargarInsumo()">Cargar Insumo</button>
        </div>
        <table id="insumo-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Marca</th>
                    <th>Tipo</th>
                    <th>Stock</th>
                    <th>Detalles</th>
                </tr>
            </thead>
            <tbody>
                {% if insumos %}
            {% for insumo in insumos %}
            <tr>
                <td>{{ insumo.nombre }} </td>
                <td>{{ insumo.marca }} </td>
                <td>{{ insumo.tipo }} </td>
                <td>
                    {{ insumo.stock }}
                    {% if insumo.stock <= insumo.punto_de_pedido %}
                        <span class="puntobajo">Bajo</span>
                    {% endif %}
                </td>
                
                <td>
                    <a type="button" href="{% url 'productos:detalle_insumo' insumo.id %}">VER</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="4">No hay insumos disponibles</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <div id="register-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Carga de Insumo</h2>
            <form id="register-insumo-form" method="post" action="{% url 'productos:cargar_insumo' %}">
                {% csrf_token %}
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="nombre" required>

                <label for="marca">Marca:</label>
                <input type="text" id="marca" name="marca" required>

                <label for="tipo">Tipo:</label>
                <input type="text" id="tipo" name="tipo" required>
                
                <label for="cantidad">Cantidad:</label>
                <input type="text" id="cantidad" name="stock" required>

                <label for="medida">Unidad de Medida: </label>
                <select name="medida" id="medida" name="medida" >
                    <option value="">----</option>
                </select>

                <label for="punto_pedido">Punto de Pedido:</label>
                <input type="text" id="punto_pedido" name="punto_de_pedido" required>

                <button type="submit">Guardar</button>
            </form>
        </div>
    </div>

    

    <script src="{% static 'scripts/insumos.js' %}"></script>
    {% endblock content %}

    