{% extends "base/base.html" %}
{% block title %}
Panaderia El Maná
{% endblock title %}



{% block content %}
  {% if messages %}
  <div class="mensaje">
    {% for message in messages %}
    <h4 class="{{ message.tags }} mensaje-text">{{ message }}</h4>
    {% endfor %}
  </div>

  <script>
    window.addEventListener('DOMContentLoaded', (event) => {
      const mensaje = document.querySelector('.mensaje');
      
      if (mensaje) {
        setTimeout(() => {
          mensaje.style.display = 'none';
        }, 3000); 
      }
    });
  </script>
{% endif %}
<div class="container index">
  <div class="principal">
    <h1>Bienvenido a Panaderia el Maná!</h1>
    <p>Descubre nuestros productos frescos y artesanales que llevan el sabor de la tradición a tu mesa.</p>
  </div>
</div>


{% endblock content %}