{% extends "base/base.html" %}
{% load static %}
{% block title %}
    Gestion - Panaderia El Maná
{% endblock title %}
{% block style %}
    <link rel="stylesheet" href="{% static 'styles/gestion.css' %}">
{% endblock style %}
    {% block content %}



    
    <div class="container">
        <h1>Gestion</h1>
        <div class="card-grid">            
            
            <a href="{% url 'ventas:productos_mas_vendidos' %}">
                <div class="card">
                    <img src="{% static 'img/producto mas vendido.jpg' %}" alt="producto mas vendido" class="card-image">
                    <div class="card-content">
                        <h2 class="card-title">Productos mas Vendidos</h2>
                    </div>
                </div>
            </a>
            
            <a href="{% url 'ventas:insumos_faltantes' %}">
                <div class="card">
                    <img src="{% static 'img/insumo faltante.webp' %}" alt="insumos faltantes" class="card-image">
                    <div class="card-content">
                        <h2 class="card-title">Insumos Faltantes</h2>
                    </div>
                </div>
            </a>
            
            <a href="{% url 'ventas:reporte_ventas' %}">
                <div class="card">
                    <img src="{% static 'img/ventas.jpg' %}" alt="ventas" class="card-image">
                    <div class="card-content">
                        <h2 class="card-title"> Ventas </h2>
                    </div>
                </div>
            </a>            
        </div>
    </div>


    {% endblock content %}
    